body{
    font-size: small;
    font-family: calibri,'Open Sans', Helvetica,Arial,sans-serif;
    color: #333333;
}

h1, h2, h3{
    color: #cc3399;
}

p.highlight{
    color: #cc3399;
    font-weight: bold;
}

#page_wrap{
    width: 1256px;
    margin: auto;
}

#top {
    height: 240px;
}

#menu{
    font-size: small;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li {
    display: inline;
    float: left;
    /* Set the button width */
    width: 14.28%;
}

#content {
    font-size: large;
    float: left;
    width: 810px;
    margin-right: 25px;
    margin: 0px 10px;
}

#content ul {
    display: table;
}

#content img {
    margin: 10px;
}

#content p {
    margin: 10px;
}

#sidebar {
    float: left;
    width: 421px;
}

#foot {
    position: relative;
    background-image: url(/static/mysite/images/trinity_footer.jpg);
    clear: both;
    height: 219px;
    width: 100%;
}

#foot p{
    font-size: small;
    position: absolute;
    margin: 0;
    bottom: 14px;
    font-weight: bold;
    color: #f3f3f3;
    text-shadow: 1px 1px 3px #000;
}

#foot p.right{
    right: 15px;
}
#foot p.left{
    left: 15px;
}

#foot a {
    text-decoration: none;
    color: #f3f3f3;
    text-shadow: 1px 1px 3px #000;
}

.inf_box{
    font-size: small;
    clear: both;
    margin: 10px auto;
}

.align_left {
    text-align: left;
}
.align_right {
    text-align: right;
}

ul li{
    color: #cc3399;
    font-weight: bold;
}

.text_wrap{
    float: left;
    margin: 10px;
}

.contact_form table{
    width: 98%;
    margin: auto;
}

.contact_form th{
    color: #cc3399;
    text-align: right;
}

.contact_form td{
    color: #cc3399;
    text-align: left;
}

.contact_form input{
    width: 450px;
    margin-left: 5px;
}

.contact_form textarea{
    width: 450px;
    margin-left: 5px;
}

.contact_form .helptext {
    font-size: small;
    color: #333333;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #333333;
    border-width: thin;
    padding: 3px;
}

tr.required {
    background-color: #EAE4F0;
}

ul.errorlist {
    margin: 5px;
    list-style-type: none;
    padding: inherit;
}

/*Event list*/
ul.event_list {
    list-style-type: none;
    padding: inherit;
}
.event_list li {
    line-height: 1.5em;
    color: #333333;
}

.event_text {
    display: inline-block;
    width: 75%;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.event_button{
    display: inline-block;
}

.event_text h3{
    margin: 0;
}

.tandc{
    font-size: x-small;
}

img.map, map area{
    outline: none;
}

img {
    border: 0;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }