{% extends "mysite/base.html" %}
{% block content %}
    <h2>Order Num. {{ order.pk }}</h2>
    <p>Date:  {{ order.date }}</p>
    {{ vat_list }}
    {% for vat in order.orderitem_set.all %}
        <p>Inc &pound;{{ vat.value_inc|floatformat:2 }} Ex &pound;{{ vat.value }} {{ vat.content_object }}<br>
        {{ vat|safe }}
        </p>
    {% endfor %}
    <p>&pound;{{ order.total_inc }} &pound;{{ order.total_ex }}</p>
    <p>{{ order.vat_inf }}</p>
    {% for vat_inf in order.vat_inf %}
        <p>{{ vat_inf.vat__name }} {{ vat_inf.rate_pc|floatformat:2 }}% &pound;{{ vat_inf.vat_val|floatformat:2 }}</p>
    {% endfor %}

{% endblock %}
