{% extends "mysite/base.html" %}
{% block content %}
<h2>My Orders</h2>
{% if order_list %}
    {% for order in order_list %}
    <li><a href="{% url 'orders:detail' order.id %}">{{ order.date }}</a></li>
    {% endfor %}
    <h2>Bookings</h2>
    {% if bookings %}
    <table style="width: 90%; margin: auto">
        <thead>
            <tr>
                <th>Date</th>
                <th>Venue</th>
                <th>Num People</th>
                <th>Reference number</th>
            </tr>
        </thead>
        <tbody>
    {% for booking in bookings %}
            <tr>
                <td>{{ booking.date }}</td>
                <td>{{ booking.venue }}</td>
                <td>{{ booking.num_people }}</td>
                <td>{{ booking.ref }}</td>
            </tr>
    {% endfor %}
        </tbody>
</table>
    {% else %}
        <p>No confirmed bookings</p>
    {% endif %}
{% else %}
    <p>You have no orders.</p>
{% endif %}
    <p><a href="{% url 'accounts:logout' %}">Logout</a></p>
{% endblock %}
