{% extends "mysite/base.html" %}
{% load staticfiles %}
{% block title %}
About Trinity
{% endblock %}
{% block content %}
    <h2>About Trinity</h2>
<p>My early life was full of hardship. There were good times, but life was often dark and I felt I had no escape. I had no idea that there was a spirit world.</p>
<p>When life got too much I would sometimes go to church to seek comfort, answers, and to simply gain the strength to go on. I heard only about a vengeful God. I thought this life was reality and it would be short lived and hard. I was scared of death and as I grew up I strived to achieve and find my happiness in material things – I sought success, to own a bigger house and a bigger car. When I didn’t achieve I felt empty and that I was a failure.</p>
<p>At the age of 44 a very close family member became addicted to substances. I was on the verge of a nervous breakdown, crying all the time, I couldn’t work and I just wanted to die. My Granddad whom I was so close to in life came to me in a dream and told me I must go to a spiritual church. Under normal circumstances I would never have had anything to do with spirits and I was terrified of ghosts! However, because I trusted my Granddad and the dream had been so real, I felt I just had to go.</p>
<p>I found out where the nearest spiritualist church was and went that Sunday - I was terrified! I needn’t have worried it was a welcoming atmosphere and the medium came directly to me in the service and gave me messages from my Nan and Granddad, things she could not possibly of known. She told me they said everything would be okay and that the addiction would pass in time. I cannot tell you the relief and strength these messages gave me – I left the church feeling like a new person.</p>
<p>Through my experiences I discovered I myself had the gift of communication with the spirit world and this led me to help others. I know what a dark place the world can seem and also the light that is waiting for each of us if we just reach out. I am the bridge to loved ones and showing people that this world is not the end and that love and peace are what is intended for us all.</p>

{% endblock %}