<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
    <link rel="stylesheet" href="{% static "jquery_ui/jquery-ui.min.css" %}" />
    <link rel="stylesheet" href="{% static "mysite/mysite.css" %}" />
    <script src="{% static "jquery_ui/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "jquery_ui/jquery-ui.min.js" %}"></script>
    
    <title>{% block title %}Trinity Williams{% endblock %}</title>
    <script>  
      $( document ).ready(function() {
        $( "#menu_options" ).buttonset();
        $(".button").button();
         $( "#datepicker" ).datepicker({
             showOtherMonths: true,
             selectOtherMonths: true,
             minDate: 0,
             altField: "#alternate",
             altFormat: "DD, d MM, yy"
         });
      });
    </script>
</head>

<body>
    <div id="page_wrap">
    <div id="top">
        <img src="{% static "mysite/images/trinity_header.jpg" %}" alt="Trinity Williams" usemap="#social_media"/>
          <map name="social_media">
            <area shape="rect" coords="894,5,930,41" alt="Facebook" href="http:\\www.facebook.com">
            <area shape="rect" coords="935,5,971,41" alt="Twitter" href="http:\\twitter.com">
            <area shape="rect" coords="976,5,1012,41" alt="Linkedin" href="http:\\linkedin.com">
          </map>
    </div>
    
    <div id="menu" class="menu">
        <ul id="menu_options" class="menu">
            <li class="menu"><a style="width: 100%" class="menu" href="{% url 'home page' %}">About Trinity</a></li>
            <li class="menu"><a style="width: 100%" class="menu" href="{% url 'events:events' %}">Event Dates</a></li>
            <li class="menu"><a style="width: 100%" class="menu" href="{% url 'readings' %}">Book a Reading</a></li>
            <li class="menu"><a style="width: 100%" class="menu" href="{% url 'books' %}">Books</a></li>
            <li class="menu"><a style="width: 100%" class="menu" href="{% url 'press' %}">Press</a></li>
            <li class="menu"><a style="width: 100%" class="menu" href="{% url 'serenity_centre' %}">Serenity Centre</a></li>
            <li class="menu"><a style="width: 100%" class="menu" href="{% url 'blog' %}">Blog</a></li>
            <li class="menu"><a style="width: 99%" class="menu"  href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </div>
        <div class="error">
            {% block errors %}
            {% endblock %}
        </div>
    <div id="content">
        {% block content %}
        <img class="text_wrap" src="{% static "mysite/images/trinity.png" %}" alt="Trinity Williams"/>
        <img src="{% static "mysite/images/welcome.png" %}" alt="Trinity Williams"/>
        <p>My name is Trinity Williams (previously known as Beverly Williams), and I am a spiritual-medium who has helped so many people find the light when they could see only the darkness in their lives.</p>
        <p>Understanding that there is life after death and connecting the two worlds is my calling in life.</p>
        <ul>
            <li>Have you lost a loved one with whom you would like to contact?</li>
            <li>Do you feel lost and would you like to connect with someone close who has passed away?</li>
            <li>Do you </li>
        </ul>
        <div class="inf_box ui-tabs ui-widget ui-widget-content ui-corner-all">
            <h3 class="ui-state-active ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all ui-tabs">Book a reading with Trinity</h3>
            <div class="text_wrap">
                <div id="datepicker"></div>
                <input type="hidden" id="alternate" />
            </div>
            <div>
                <p>
                    "I saw Beverley ..."
                </p>
                <div class="allign_left">
                    <a class="button">Book Now</a>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        {% endblock %}
    </div>
    
    <div id="sidebar">
        {% block sidebar %}
 
        {% if event_list %}
        <div class="inf_box ui-tabs ui-widget ui-widget-content ui-corner-all">
            <h3 class="ui-state-active ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all ui-tabs">Events</h3>
            <div style="margin-bottom: 5px">
                <ul>
                {% for event in event_list %}
                <li style="line-height: 2.5em;">{{ event.event_time|date:"d/m/y"}} {{ event.venue}} <strong>{{ event.venue.town}}</strong> <div style="float: right;"><a class="button" href="{% url 'events:detail' event.id %}">Details</a></div></li>
                <hr />
                {% endfor %}
                </ul>
                <div class="allign_left">
                    <a class="button" href="{% url 'events:events' %}">View all dates</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% if review %}
        <div class="inf_box ui-tabs ui-widget ui-widget-content ui-corner-all">
            <h3 class="ui-state-active ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all ui-tabs">What Clients Say</h3>
            <div>
                <p>
                    "I saw Beverley ..."
                </p>
                <div class="allign_left">
                    <a class="button">See More</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endblock %}
    </div>
    
    <div id="foot">
        <div>
            <p>&copy;Trinity Williams {% now "Y" %}</p>
        </div>
    </div>
    </div>
</body>
</html>