{% extends "mysite/base.html" %}
{% load staticfiles %}
{% block title %}
Going Home to Love
{% endblock %}
{% block content %}
    <h2>Going Home to Love</h2>
<p>I have known for some time through messages from spirit that I would write a book and that it would be the story of my life. It is not a catalogue of misery and distress, but an example of how any life can be turned around when it is lived with, through and by our spiritual selves and not through the ego mind of this earth plane. The book shows how every hurt was a gift to me from spirit if I choose to see it like that and follows how I educated myself to see with my spirit and expect abundance, joy and love from a world that could so easily have been nothing but fear for me. </p>
<p>My greatest hope is for any person who reads it to feel hope and begin to trust in their spiritual selves, to connect to their family of spirit friends and guides and to follow their own spiritual path in order to not just survive this existence but to positively embrace the lessons it brings and to know that all is well in the love of our continuing spiritual existence.</p>
<p class="highlight">Trinity’s book will be available in 2015.</p>
{% endblock %}