{% extends "mysite/base.html" %}
{% load staticfiles %}
{% block content %}
<div itemscope itemtype="http://schema.org/Person">
<img class="text_wrap" itemprop="image" src="{% static "mysite/images/trinity.png" %}" alt="Trinity Williams"/>
<img src="{% static "mysite/images/welcome.png" %}" alt="Welcome"/>
<p>My name is <span itemprop="name">Trinity Williams</span>, and I am a <span itemprop="jobTitle">spiritual-medium</span> who has helped so many people find the light when they could see only the darkness in their lives.</p>
<p>Understanding that there is life after death and connecting the two worlds is my calling in life.</p>
<ul>
    <li>Have you lost a loved one with whom you would like to contact?</li>
    <li>Do you feel lost and would you like to connect with someone close who has passed away?</li>
    <li>Do you believe in life after death?</li>
</ul>
<p>If you would like to know more come along and see me at one of my events - to see the dates just <a href="{% url 'events:events' %}">click here</a>, or you can contact me to book a one to one or group reading by <a href="{% url 'readings:book' %}">clicking here</a>.</p>
<p>Contacting the spirit world and your loved ones is not frightening and there is nothing for you to be afraid of – it is simply your loved ones bringing you love, reassurance and validation that there is life after death and that they are safe and watching over you.</p>
</div>
{% endblock %}