{% extends "mysite/base.html" %}
{% load staticfiles%}
{% block content %}
<div style="text-align: center"><img src="/static/mysite/images/serenity.png" alt="Confusion image"></div>
    <h2>If any of these words reflect your life we are here to help</h2>
    <div class="float-left" style="width: 400px;display: inline-block; vertical-align: top">
        <p>The Serenity Center brings knowledge and understanding of the spirit world and offers you support, comfort and peace of mind.</p>
        <p>No booking required and everyone is welcome. Tea & coffee are provided.</p>
    </div>
    <iframe class="float-left" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2419.9979641163663!2d-3.1470047500000002!3d52.66001435!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487000a08c7f5dcd%3A0x8d307317b35072a4!2sWelshpool%2C+Powys+SY21+7DL!5e0!3m2!1sen!2suk!4v1418644126559" width="400" height="400" frameborder="0" style="border:0"></iframe>
{% endblock %}