<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "jquery_ui/jquery-ui.min.css" %}" />
    <link rel="stylesheet" href="{% static "cms/mysite.css" %}" />
    <script src="{% static "jquery_ui/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "jquery_ui/jquery-ui.min.js" %}"></script>
    
    <title>{% block title %}Website CMS{% endblock %}</title>
    <script type="text/javascript">
        $( document ).ready(function() {

            //$.cookieBar({
            //    policyButton: true,
            //    policyText: 'Privacy Policy',
            //    policyURL: '{% url 'privacy' %}',
            //    fixed: true
            //});

            $( "#menu_options" ).buttonset();
            $(".button").button();
            $( "#datepicker" ).datepicker({
                 showOtherMonths: true,
                 selectOtherMonths: true,
                 minDate: 0,
                 altField: "#alternate",
                 altFormat: "DD, d MM, yy"
             });
            $("tr.required").find("th:last").append(" * ");
            $('<span class="ui-icon ui-icon-help" style="display:inline-block"></span>').insertBefore($("span.helptext").prev());
            $("span.helptext").hide();
            $("span.helptext").prev().prev().click(
                    function () {
                        $(this).next().next().toggle("fade", "slow");
                    }
            );
        });
    </script>
{% block extra_head %}{% endblock %}
</head>

<body>
    <div id="page_wrap">
    <div>
        <h1>Site Admin</h1>
    </div>
{% if not user.is_authenticated %}
    <p>Please <a href="{% url 'accounts:login' %}?next=/admin/">log in</a>.</p>
{% else %}
    <div id="menu" class="menu">
        <ul id="menu_options" class="menu">
            <li class="menu"><a style="width: 100%" class="menu" href="{% url 'cms:flatpage_detail' 'home'%}">Home</a></li>
            <li class="menu"><a style="width: 100%" class="menu" href="{% url 'cms:events' %}">Events</a></li>
            <li class="menu"><a style="width: 100%" class="menu" href="{% url 'blog' %}">Blog</a></li>
            <li class="menu"><a style="width: 99%" class="menu"  href="{% url 'accounts:logout' %}">log out</a></li>
        </ul>
    </div>
        <div class="error">
            {% block errors %}
            {% endblock %}
        </div>
    <div id="content">
        {% block content %}
            <p>This is the base admin page</p>
        {% endblock %}
    </div>

{% endif %}

    <div id="foot">
        <div>
            <p class="right">&copy;Trinity Williams {% now "Y" %}</p>
            <p class="left"><a href="{% url 'tandc' %}">Terms and conditions</a> - <a href="{% url 'privacy' %}">privacy policy</a></p>
        </div>
    </div>
    </div>

</body>
</html>