{% extends "cms/base.html" %}

    {% block title %}
        {% if event %}
            {{  event.title }}
        {% else %}
            New Event
        {% endif %}
    {% endblock %}
{% block extra_head %}
    <style>
      #map-canvas {
        width: 90%;
        height: 400px;
        margin: auto;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
{% if event.venue.lat %}
      function initialize() {
        var venue = new google.maps.LatLng({{ event.venue.lat }}, {{ event.venue.lng }})
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: venue,
          zoom: 17,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
          position: venue,
          map: map,
          title: '{{ event.venue.name}}'
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
{% endif %}
      $(function() {
        $( "#id_event_time_0" ).datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonText: "Select date"
        });
        $( "#id_book_from_0" ).datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonText: "Select date"
        });
        $( "#id_last_booking_0" ).datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonText: "Select date"
        });
        $("#form_state").click(function(){
            $(this).hide();
        });

        $("#add_venue").insertAfter("#id_venue");
      });
    </script>

{% endblock %}
{% block content %}
    {% if status %}
        <div id="form_state" style="background-color: #cc6699"><h2 style="text-align: center;padding: 10px; color: #000000">{{ status }}</h2></div>
    {% endif %}
{% if event %}
<div>
<h2>{{ event.title }}</h2>
    <h2>{{ event.event_time|date:"l jS F Y | fA" }}</h2>
    <h4>
        {{ event.venue.name}},
        {{ event.venue.town}}
        {{ event.venue.postcode}}
        {% if event.venue.lat %} <a href="#map-canvas">map</a>{% endif %}</h4>
<div>
    <p>
        {{ event.description|safe }}
    </p>

    <ul>
    {% if event.pricing_set %}
        {% for price in event.pricing_set.all %}
            {% if price.online_book %}
            <li>
                <p>{{ price.title }}
                    <span>&pound;</span><span>{{ price.value_inc }}</span></p>
            </li>
            {% else %}
            <li><p>{{ price|safe }}</p></li>
            {% endif %}
        {% endfor %}
    {% endif %}
    </ul>
<div id="map-canvas"></div>
<hr />
    <form action="{% url 'cms:event_detail' event.id %}" method="post">
{% else %}
    <form action="{% url 'cms:event_add' %}" method="post">
    <h2>New Event</h2>
{% endif %}
<span id="add_venue"> <a class="button" href="{% url 'cms:venue_add' %}" target="_blank">New Venue</a> </span>
    {% csrf_token %}
    <table style="width: 95%;margin: auto">
    {{ form.media }}

    {{ form.as_table }}

    {{ priceing.management_form }}
    {% for price in priceing %}
        {{ price.as_table }}
    {% endfor %}

        <tr>
 {% if event %}
            <td colspan="2" style="text-align: center;">
                <p><input class="button" type="submit" value="Update" /></p>
            </td>
{% else %}
             <td colspan="2" style="text-align: center;">
                <p><input class="button" type="submit" value="Add" /></p>
            </td>
{% endif %}
        </tr>
    </table>
</form>

</div>
</div>
{% endblock %}
