{% extends "cms/base.html" %}
{% block content %}
<h2>Event list</h2>
{% if event_list %}
    <ul>
    {% for event in event_list %}
    <li><p itemscope itemtype="http://schema.org/Event">
        <a itemprop="url" href="{% url 'cms:event_detail' event.id %}"><span itemprop="name">{{ event.title }}</span></a><br>
        <span itemprop="location" itemscope itemtype="http://schema.org/Place">
            <span itemprop="name">{{ event.venue.name}}</span>,
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="addressLocality">{{ event.venue.town}}</span>
            </span>
        </span>
        - <meta itemprop="startDate" content="{{ event.event_time|date:"c"}}">{{ event.event_time|date:"D jS N"}}
    </p></li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no scheduled events.</p>
{% endif %}

{% endblock %}
