{% extends "cms/base.html" %}

{% block title %}
    {% if venue %}
        {{ venue.name }}
    {% else %}
        New Venue
    {% endif %}
{% endblock %}
{% block extra_head %}
    <style>
      #map-canvas {
        width: 90%;
        height: 400px;
        margin: auto;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
{% if venue.lat %}
      function initialize() {
        var venue = new google.maps.LatLng({{ venue.lat }}, {{ venue.lng }})
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: venue,
          zoom: 17,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
          position: venue,
          map: map,
          title: '{{ venue.name}}'
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
{% endif %}
      $(function() {
      });
    </script>

{% endblock %}
{% block content %}
    {% if status %}
        <div id="form_state" style="background-color: #cc6699"><h2 style="text-align: center;padding: 10px; color: #000000">{{ status }}</h2></div>
    {% endif %}
{% if venue %}
    {% if venue.lat %}
<div id="map-canvas"></div>
    {% endif %}
<hr />
    <form action="{% url 'cms:venue_detail' venue.id %}" method="post">
{% else %}
    <form action="{% url 'cms:venue_add' %}" method="post">
{% endif %}
    {% csrf_token %}
    <table style="width: 95%;margin: auto">
    {{ form.media }}

    {{ form.as_table }}
        <tr>
 {% if venue %}
            <td colspan="2" style="text-align: center;">
                <p><input class="button" type="submit" value="Update" /></p>
            </td>
{% else %}
             <td colspan="2" style="text-align: center;">
                <p><input class="button" type="submit" value="Add" /></p>
            </td>
{% endif %}
        </tr>
    </table>
</form>

{% endblock %}
