{% extends "mysite/base.html" %}
{% block content %}
    <h2>Book your place</h2>
{% if user.is_authenticated %}
    <p>Please fill out the form below:</p>
    {% if event %}
    {% endif %}

    {% if pricing_set %}
        {% for price in pricing_set.all %}
            <p>{{ price|safe }}</p>
        {% endfor %}
    {% endif %}

    {% if online_pricing %}
        {% for online_price in online_pricing %}
            <p>{{ online_price|safe }}</p>
        {% endfor %}
    {% endif %}
{% else %}
    <p>Please <a href="{% url 'login' %}" >log in</a> to book your place.</p>
{% endif %}
{% endblock %}
