{% extends "mysite/base.html" %}
{% block content %}
    <h2>Book your place</h2>
{% if user.is_authenticated %}
    <p>Please fill out the form below:</p>
    {% if event %}
    {% endif %}

    {% if pricing_set %}
        {% for price in pricing_set.all %}
            <p>{{ price|safe }}</p>
        {% endfor %}
    {% endif %}

    {% if online_pricing %}
        {% for online_price in online_pricing %}
            <p>{{ online_price|safe }}</p>
        {% endfor %}
    {% endif %}
{% else %}
    <p>Please <a href="{% url 'login' %}" >log in</a> to book your place.</p>
{% endif %}
<form action="{% url 'events:book' event.id %}" method="post" class="contact_form">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
        <tr>
            <td colspan="2" style="text-align: center;"><input class="button" type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
{% endblock %}
