{% extends "mysite/base.html" %}
{% block content %}
    <h2>Book your place</h2>
{% if user.is_authenticated %}
    <p>Please fill out the form below:</p>
    {% if event %}
    {% endif %}

    {% if pricing_set %}
        {% for price in pricing_set.all %}
            <p>{{ price|safe }}</p>
        {% endfor %}
    {% endif %}
<form action="{% url 'events:book' event.id %}" method="post">
    {% csrf_token %}
    {{ form.quantity.errors }}
    {{ form.quantity.label_tag }}
    {{ form.quantity }} <input class="button" type="submit" value="Book" />
</form>
{% else %}
    <p>Please <a href="{% url 'accounts:login' %}?next={{ request.path }}" >log in</a> to book your place.</p>
{% endif %}
{% endblock %}
