{% extends "mysite/base.html" %}
{% block content %}
<h2>{{ event.title }}</h2>
    <h3>{{ event.venue.name }}, {{ event.venue.town }} on {{ event.event_time }}</h3>
<div>
    <p>
        {{ event.description|safe }}
    </p>
    {% if event.pricing_set %}
        {% for price in event.pricing_set.all %}
            <p>{{ price|safe }}</p>
        {% endfor %}
    {% endif %}
    {% if bookable %}
        {% if event.num_spaces < 999 %}
            <p>Currently {{ event.num_spaces }} spaces left</p>
        {% endif %}
        {% if user.is_authenticated %}
<form action="{% url 'events:book' event.id %}" method="post">
    {% csrf_token %}
    {{ form.quantity.errors }}
    {{ form.quantity.label_tag }}
    {{ form.quantity }} <input class="button" type="submit" value="Book" />
</form>
        {% else %}
    <p>Please <a href="{% url 'accounts:login' %}?next={{ request.path }}" >log in</a> to book your place.</p>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
